{% extends 'base.html' %}

{% block head %} 

{% load static %}

<!-- Loading css from static files -->
<link rel="stylesheet" type ="text/css" href="{% static 'candidates/CSS/stylesheet.css' %}">


<style>
/* Flip Card CSS Start */
.flip-card{
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front{
    z-index: 2;
  background-color: transparent;
  color: transparent;
}

.flip-card-back{
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.video-link{
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.over-img{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}


.lower-img{
    position: absolute;
    top:10%;
    left:5%;
    height:90%;
    width: 90%;
}


.top-text{
    position: absolute;
    top: 87%;
    left:42%;
    color: black;
    font-size: 80%;

}

.profile{
    height:auto;
    color: black;
}
</style>

{% endblock %}
{% block body %}

{% csrf_token %}
<form method ="GET">
    <div class="container">
        <div class="form-row-slider even_space">
                <div class ="col-md-6 half_block bg-light" >
                    <label class ="slider-check-label" for="{{ form.analytics_experience.id_for_label }}">{{form.analytics_experience.label}} (Months) </label>
                    <div class="range-slider">
                        <input type="text" name="{{ form.analytics_experience.id_for_label }}" id="{{ form.analytics_experience.id_for_label }}" class="js-analytics-range-slider" value="" />
                    </div>
                </div>
                <div class ="col-md-6 half_block bg-light">
                    <label class ="slider-check-label" for="{{ form.professional_experience.id_for_label }}">{{form.professional_experience.label}} (Months) </label>
                    <div class="range-slider">
                        <input type="text" name="{{ form.professional_experience.id_for_label }}" id="{{ form.professional_experience.id_for_label }}"class="js-professional-range-slider" value="" />
                    </div>   
                </div>   
        </div>
        <br>


        <div class="row">
            <div class="col-md-10 align-left flex">
                <div class="dropdown margin-10 ">
                    <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Roles
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                        {% for roles in form.roles %}
                        <a class="dropdown-item">
                            <div>
                                <input class="form-check-input" type="checkbox" name="{{ roles.id_for_label }}" id="{{ roles.id_for_label }}">
                                <label class="form-check-label" for="{{ roles.id_for_label }}">
                                {{ roles.choice_label }}
                                </label>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="dropdown margin-10 ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                        {% for region in form.location %}
                        <a class="dropdown-item">
                            <div>
                                <input class="form-check-input" type="checkbox" name="{{ region.id_for_label }}" id="{{ region.id_for_label }}" >
                                <label class="form-check-label" for="{{ region.id_for_label }}">
                                {{ region.choice_label }}
                                </label>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="dropdown margin-10 ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Industry
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                        {% for industry in form.industry %}
                        <a class="dropdown-item">
                            <div>
                                <input class="form-check-input" type="checkbox" name="{{ industry.id_for_label }}" id="{{ industry.id_for_label }}" >
                                <label class="form-check-label" for="{{ industry.id_for_label }}">
                                {{ industry.choice_label }}
                                </label>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="dropdown margin-10 ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Skills
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                        {% for skills in form.skills %}
                        <a class="dropdown-item">
                            <div>
                                <input class="form-check-input" type="checkbox" name="{{ skills.id_for_label }}" id="{{ skills.id_for_label }}" >
                                <label class="form-check-label" for="{{ skills.id_for_label }}">
                                {{ skills.choice_label }}
                                </label>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="dropdown margin-10 ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Certification
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                        {% for certs in form.certification %}
                        <a class="dropdown-item">
                            <div>
                                <input class="form-check-input" type="checkbox" name="{{ certs.id_for_label }}" id="{{ certs.id_for_label }}" >
                                <label class="form-check-label" for="{{ certs.id_for_label }}">
                                {{ certs.choice_label }}
                                </label>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-2 flex align-right">
                <button class="btn btn-outline-primary margin-10" type="submit">Search</button>
            </div>


        </div>
    </div>
</form>
<br>

{%  load columns %}

<div class="row flex-center">
<div class="row flex">
    {% for col in studentlist|columns:4 %}
        <div class="col-md-3" >
            <div class="col" >
            {% for user in col %}
            <div class="col" >
            <div class="flip-card">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <img class="headshots lower-img" src="{{ user.picturelink }}" alt="">
                <img class=" headshot over-img" src="{% static 'candidates/pictures/Frame.png' %}" alt="">
                <b><p class="top-text" > {{ user.first_name}} {{ user.last_name }}</p></b>
            </div>
            <div class="flip-card-back">
                <iframe height=85% =block width=100% src="{{ user.videolink }}">
                </iframe>
                <a class="profile btn btn-light" href="{{ user.linkedin }}" target="_blank">VIEW PROFILE</a>            
            </div>
            </div>
            </div>

            </div>
            <div class="col align-center" >
                <br>
            </div>
            {% endfor %}
            </div>

        </div>
    {% endfor %}
</div>
</div>

  <!-- Modal -->
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="memberModalLabel">Welcome to Purdue’s M.S. in Business Analytics Candidate Search</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body container">
            <video width=100% height=100% controls loop autoplay>
                <source src="{% static 'candidates/videos/popupinfo.mp4' type='video/mp4' %}">
            </video>
            <p>A personal pitch video will be revealed when you hover over a candidates profile.</p>
            <p>Additionally, you may click the "View Profile" button to learn more about their experiences on LinkedIn.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
    var ana_min = parseInt("{{ana_minvalue}}");
	var ana_max = parseInt("{{ana_maxvalue}}");
	var prof_min = parseInt("{{prof_minvalue}}");
    var prof_max = parseInt("{{prof_maxvalue}}");
    var id_list = "{{id_list}}";
    var popup = "{{popup}}";
</script>

<script type="text/javascript" src="{% static 'candidates/js/script.js' %}"></script>

{% endblock %}